<center>
<img src="https://drive.google.com/uc?id=1f1gGVI-rxcHjA90WEGNvvtSXF1pAxQwg" alt="Fasilkom UI" width="300"/>

CSGE603130 â€¢ Kecerdasan Artifisial dan Sains Data Dasar

Semester Ganjil 2021/2022

Fakultas Ilmu Komputer, Universitas Indonesia

## **Lab 1: *Introduction to Data Science Tools***

### **Tenggat Waktu: 11 September 2021, 23.55 WIB**
</center>

### **Ketentuan:**

1. Dokumen template lab dengan format .ipynb dan dataset (jika dibutuhkan) telah disediakan di SCeLe
2. Jalankan kode pada dokumen .ipynb dan perhatikan dengan saksama apa yang potongan kode tersebut lakukan beserta dengan keluarannya. Jawablah **pertanyaan** yang disisipkan pada potongan program yang diberikan.
3. Dokumen Jupyter Notebook yang telah dilengkapi dengan jawaban dikumpulkan dengan format penamaan **Kelas_LabX_NPM_Nama.ipynb** . Contoh: F_Lab1_1706979341_Lulu Ilmaknun Qurotaini.ipynb
4. Kumpulkan dokumen tersebut pada submisi yang telah disediakan di SCeLe sesuai dengan kelas masing-masing sebelum **11 September 2021, 23.55 WIB**. Keterlambatan pengumpulan akan dikenakan pinalti.
5. Lab ini dirancang sebagai **tugas mandiri**. Plagiarisme tidak diperkenankan dalam bentuk apapun. Adapun kolaborasi berupa diskusi (tanpa menyalin maupun mengambil jawaban orang lain) dan literasi masih diperbolehkan dengan mencantumkan kolaborator dan sumber.

## **Pernyataan Integritas**

Wajib diisi. Tanpa pernyataan integritas submisi akan dikenakan pinalti.

In [313]:
# Isi dengan data diri Anda
NAMA = "Fahdii Ajmalal Fikrie"
KELAS = "D"
NPM = "1906398370"

# Isi dengan NPM teman yang berdiskusi dengan Anda
KOLABORATOR = [
    ""
]

# Isi dengan sumber referensi yang Anda gunakan dalam mengerjakan
REFERENSI = [
    "https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html",
    "https://numpy.org/doc/stable/reference/generated/numpy.array.html",
    "https://stackoverflow.com/questions/51607607/why-do-numpy-array-turns-int-into-float",
]

In [314]:
PERNYATAAN_INTEGRITAS = "Saya, %s dari kelas %s dengan NPM %s, menyatakan bahwa seluruh jawaban pada pekerjaan ini murni saya kerjakan sendiri.\n\
Saya tidak mencontek jawaban, memberikan jawaban, maupun menyalin dari sumber manapun.\n \
\n\
Jika saya melanggar pernyataan tersebut, saya siap menerima konsekuensi apapun yang diberikan.\n   \
(%s)" % (NAMA, KELAS, NPM, NAMA)

print(PERNYATAAN_INTEGRITAS)

Saya, Fahdii Ajmalal Fikrie dari kelas D dengan NPM 1906398370, menyatakan bahwa seluruh jawaban pada pekerjaan ini murni saya kerjakan sendiri.
Saya tidak mencontek jawaban, memberikan jawaban, maupun menyalin dari sumber manapun.

Jika saya melanggar pernyataan tersebut, saya siap menerima konsekuensi apapun yang diberikan.
   (Fahdii Ajmalal Fikrie)

# **Python Refresher**

Pada tutorial mata kuliah ini, kita akan menggunakan bahasa pemrograman Python. Jika kamu butuh penyegaran kembali mengenai Python, kamu dapat mengunjungi channel Youtube pada link berikut: **https://bit.ly/pymooc-id**. 
Selamat belajar!

# **A. Pengenalan Jupyter Notebook**

Berkas IPYNB adalah dokumen yang digunakan pada [__Jupyter Notebook__](https://jupyter.org/install) yang berisi _environment_ interaktif untuk pemrograman menggunakan bahasa __Python__ (juga Julia dan R). Satu berkas IPYNB terdiri atas satu atau lebih ___cell___ yang dapat digunakan untuk menjalankan kode secara interaktif maupun menulis catatan dalam sintaks ___markdown___. Selain Jupyter Notebook, berkas IPYNB dapat dibuka dan dibuat menggunakan aplikasi daring seperti [__Google Colab__](https://colab.research.google.com/) atau [__Kaggle__](https://www.kaggle.com/notebooks).

Kode ditulis dalam sebuah _cell_. Setiap _cell_ dapat dieksekusi dengan kombinasi _shortcut_ __shift + enter__ ataupun tombol ___run___ pada tiap _cell_. Setiap _cell_ dapat dieksekusi secara mandiri dan tidak perlu dijalankan berurutan, kecuali jika ada variabel global yang diinisiasi pada _cell_ yang belum dijalankan. _Cell_ kode Python yang dieksekusi akan menjalankan kode secara _interpreted_ dan menampilkan _output_ (jika ada) di bawah _cell_.

In [315]:
# Ini adalah contoh cell untuk kode Python.

var = "Hello, world!"
print(var[:-1])
var

Hello, world

'Hello, world!'

### Ini adalah contoh _cell_ untuk teks _markdown_.

_Markdown_ adalah _markup language_ yang digunakan untuk membuat teks berformat menggunakan _text editor_ biasa. Dengan _markdown_, kita dapat membuat berbagai gaya teks, seperti _heading_, _hyperlink_, tabel, _list_, dan masih banyak lagi. Contoh berbagai sintaks _markdown_ dapat dilihat pada [panduan dari Markdownguide.org](https://www.markdownguide.org/cheat-sheet/) dan [wiki oleh Adam Pritchard](https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet).

## Instalasi _library_ pada Jupyter Notebook

Jupyter Notebook secara bawaan menyediakan _kernel_ Python, namun terkadang kita membutuhkan _library_ eksternal yang tidak termasuk dalam bawaan Python. Instalasi _library_ dapat dilakukan dengan perintah <code>__pip install _nama-package___</code>. Contoh kita ingin menggunakan _library_ __Pandas__, maka kita dapat melakukan instalasi seperti di bawah ini.

In [316]:
!pip3 install pandas --default-timeout=100

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandas in /usr/local/lib/python3.9/site-packages (1.3.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

_Kernel_ yang digunakan pada Jupyter Notebook, seperti pada _kernel_ biasa, dapat menerima perintah sistem. Selain perintah __pip__, berbagai perintah lain, seperti __git__ atau __apt__, juga dapat dijalankan jika _kernel_-nya mendukung. Silakan eksplorasi mandiri lebih lanjut pemanfaatannya, baik pada  perangkat lokal (seperti Jupyter Notebook) ataupun pada perangkat _cloud_ (seperti Google Colab).

# **B. Pengenalan Pandas**

[__Pandas__](https://pandas.pydata.org/docs/) adalah _library_ untuk bahasa Python yang menyediakan struktur data dan fungsi-fungsi yang mempermudah pemrosesan dan analisis data.

In [317]:
# import libraries
from IPython.display import display
import pandas as pd

## Objek _DataFrame_

_DataFrame_ adalah struktur data utama pada Pandas. Struktur data ini dapat digunakan untuk menyimpan data tabel 2 dimensi. Baris suatu _DataFrame_ terurut mulai dari 0. Jika nama-nama kolom tidak diberikan, maka kolom juga akan terurut dari 0. Anda dapat membuat _DataFrame_ dari collection generik seperti _list_ atau membaca berkas (seperti CSV, JSON, XML) sebagai _DataFrame_.

In [318]:
# Membuat DataFrame dengan membaca data dari suatu berkas

df = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data', # Path menuju berkas dataset, dapat berupa path lokal maupun remote
    header=None # Baris pertama dataset bukanlah header
)
display(df) # Menampilkan DataFrame

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
...     ...    ...    ...   ...    ...   ...    ...
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]

Memberikan nama kolom pada _DataFrame_ agar lebih bermakna

In [319]:
df.columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'label']
df

     buying  maint  doors persons lug_boot safety  label
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

**Deskripsi Data Set "Car Evaluation"**

* `buying`: buying price
* `maint`: price of the maintenance
* `doors`: number of doors
* `persons`: capacity in terms of persons to carry
* `lug_boot`: the size of luggage boot
* `safety`: estimated safety of the car
* `label`: car acceptability (target)

Sumber data set: https://archive.ics.uci.edu/ml/datasets/car+evaluation

Gunakan _method_ <code>head()</code> untuk melihat hanya 5 baris pertama dari _DataFrame_. Parameter dalam <code>head()</code> juga dapat diubah sesuai jumlah baris yang ingin ditampilkan. Gunakan <code>tail()</code> untuk melihat 5 baris terakhir.

In [320]:
df.head()

  buying  maint doors persons lug_boot safety  label
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

Kita telah berhasil membuka _dataset_ "Car Evaluation" sebagai objek _DataFrame_. Ini baru langkah awal sebelum kita menjelajahi objek _DataFrame_ lebih lanjut.

![cars.webp]()

sumber gambar: movies.disney.com

## Menampilkan atribut-atribut dari objek _DataFrame_

Menampilkan dimensi _DataFrame_ dengan atribut <code>shape</code>

In [321]:
print("Dimensi dari df adalah", df.shape)
print("df terdiri atas {} baris dan {} kolom.".format(df.shape[0], df.shape[1]))

Dimensi dari df adalah (1728, 7)
df terdiri atas 1728 baris dan 7 kolom.

Menampilkan tipe data tiap kolom dengan atribut <code>dtypes</code>

In [322]:
df.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
label       object
dtype: object

Menampilkan statistik umum tiap kolom dengan _method_ <code>describe()</code>

In [323]:
df.describe()

       buying  maint doors persons lug_boot safety  label
count    1728   1728  1728    1728     1728   1728   1728
unique      4      4     4       3        3      3      4
top     vhigh  vhigh     2       2    small    low  unacc
freq      432    432   432     576      576    576   1210

In [324]:
# Deskripsi statistik untuk kolom yang dikehendaki
df['buying'].describe()

count      1728
unique        4
top       vhigh
freq        432
Name: buying, dtype: object

Menghitung jumlah elemen tidak ___null___ tiap kolom dengan _method_ <code>count()</code>

In [325]:
print("Count untuk df\n", df.count())

Count untuk df
 buying      1728
maint       1728
doors       1728
persons     1728
lug_boot    1728
safety      1728
label       1728
dtype: int64

Dapat dilihat di atas bahwa df seluruhnya terhitung 1728 baris, namun tidak mutlak berarti tidak ada nilai _null_. Pemeriksaan dan penanganan nilai _null_ dibahas pada sub-bagian "__Menangani _missing values___".

## Mengakses baris dan kolom _DataFrame_

Kita dapat mengakses kolom _DataFrame_ seperti mengakses indeks pada array atau list, baik sebagai Series maupun DataFrame baru.

In [326]:
# Mengakses kolom sebagai Series
df_buying = df['buying']
print(type(df_buying))
df_buying

<class 'pandas.core.series.Series'>

0       vhigh
1       vhigh
2       vhigh
3       vhigh
4       vhigh
        ...
1723      low
1724      low
1725      low
1726      low
1727      low
Name: buying, Length: 1728, dtype: object

In [327]:
# Mengakses kolom sebagai DataFrame
df_buying_2 = df[['buying']]
print(type(df_buying_2))
df_buying_2

<class 'pandas.core.frame.DataFrame'>

     buying
0     vhigh
1     vhigh
2     vhigh
3     vhigh
4     vhigh
...     ...
1723    low
1724    low
1725    low
1726    low
1727    low

[1728 rows x 1 columns]

In [328]:
# Mengakses lebih dari 1 kolom sebagai DataFrame
df_buying_maint = df[['buying', 'maint']]
df_buying_maint

     buying  maint
0     vhigh  vhigh
1     vhigh  vhigh
2     vhigh  vhigh
3     vhigh  vhigh
4     vhigh  vhigh
...     ...    ...
1723    low    low
1724    low    low
1725    low    low
1726    low    low
1727    low    low

[1728 rows x 2 columns]

Akses terhadap __tepat satu__ kolom juga dapat dilakukan dengan operator __dot__ (.) dengan syarat kolom memiliki nama (tidak menggunakan indeks bilangan _default_). Nama kolom tidak boleh menggunakan nama atribut dari objek _DataFrame_. Nama kolom yang dapat diakses dengan __dot__ juga tidak boleh mengandung karakter-karakter yang dilarang dalam nama variabel Python.

In [329]:
# Mengakses kolom dengan operator dot
display(df.label)

0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1723     good
1724    vgood
1725    unacc
1726     good
1727    vgood
Name: label, Length: 1728, dtype: object

Kita dapat mengakses baris (dan kolom) _DataFrame_ menggunakan <code>__loc__</code> atau <code>__iloc__</code>. <code>loc</code> mengakses indeks berdasarkan label dari baris atau kolom, sedangkan <code>iloc</code> mengakses indeks berdasarkan posisi dalam bilangan bulat. <code>loc</code> juga menerima _range_ secara inklusif.

In [330]:
# Mengakses baris 0 sampai dengan 3 menggunakan loc
df.loc[0:3]  # range inklusif

  buying  maint doors persons lug_boot safety  label
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc

In [331]:
# Mengakses baris 0 sampai dengan 3 menggunakan iloc
df.iloc[0:4] # range eksklusif

  buying  maint doors persons lug_boot safety  label
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc

In [332]:
# Mengakses baris 0 - 3, namun hanya kolom maint dan doors saja, menggunakan loc
df.loc[0:3, ["maint", "doors"]]

   maint doors
0  vhigh     2
1  vhigh     2
2  vhigh     2
3  vhigh     2

In [333]:
# Mengakses baris 0 - 3, namun hanya kolom maint dan doors saja, menggunakan iloc
df.iloc[0:4, 1:3]

   maint doors
0  vhigh     2
1  vhigh     2
2  vhigh     2
3  vhigh     2

In [334]:
# Memasukkan indeks spesifik menggunakan loc dan iloc
print(df.loc[1,"label"])
print(df.iloc[1,6])

unacc
unacc

_Indexing_ juga dapat dilakukan tanpa menggunakan <code>loc</code> maupun <code>iloc</code>, dengan urutan indeks dimulai dari kolom, kemudian indeks dari baris.

In [335]:
# Indexing tanpa menggunakan loc maupun iloc
print(df["label"][0])

unacc

## Menangani _Missing Values_

Nilai _null_ atau "_missing values_" adalah informasi yang diisi dengan _null_ atau tidak diisi. Hal ini dapat terjadi karena informasi tersebut memang tidak diberikan (namun ada), sulit dicari, atau memang tidak ada. _Missing values_ juga dapat tersimpan sebagai "NA" atau "NaN".

In [336]:
# Menampilkan jumlah missing values tiap kolom
print("Count missing values untuk df\n", df.isnull().sum())

Count missing values untuk df
 buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
label       0
dtype: int64

Dapat dilihat di atas bahwa pada df tidak ditemukan nilai _null_. Selanjutnya kita coba membaca dataset baru pada berkas '<code>MELBOURNE_HOUSE_PRICES_LITE.csv</code>' yang dilampirkan di SCELE.

**Deskripsi Data Set "Melbourne House Prices"**
* `Suburb`: Suburb
* `Address`: Address
* `Rooms`: Number of rooms
* `Type`:
    <br> br - bedroom(s); 
    <br> h - house, cottage, villa, semi, terrace;
    <br> u - unit, duplex;
    <br> t - townhouse;
    <br> dev site - development site;
    <br> o res - other residential;

* `Price`: Price in Australian dollars
* `Method`:
    <br> S - property sold;
    <br> SP - property sold prior;
    <br> PI - property passed in;
    <br> PN - sold prior not disclosed;
    <br> SN - sold not disclosed;
    <br> NB - no bid;
    <br> VB - vendor bid;
    <br> W - withdrawn prior to auction;
    <br> SA - sold after auction;
    <br> SS - sold after auction price not disclosed.
    <br> N/A - price or highest bid not available.

* `SellerG`: Real Estate Agent
* `Date`: Date sold
* `Postcode`: Postcode
* `Regionname`: General Region (West, North West, North, North East, etc.)
* `Propertycount`: Number of properties that exist in the suburb
* `Distance`: Distance from CBD in Kilometres
* `CouncilArea`: Governing council for the area

Sumber data set: https://www.kaggle.com/anthonypino/melbourne-housing-market

In [337]:
df2 = pd.read_csv('MELBOURNE_HOUSE_PRICES_LITE.csv')

# Menampilkan jumlah missing values tiap kolom
print("Count missing values untuk df2\n", df2.isnull().sum())

Count missing values untuk df2
 Suburb            0
Address           0
Rooms             0
Type              0
Price            76
Method            0
SellerG           0
Date              0
Postcode          0
Regionname        0
Propertycount     0
Distance          0
CouncilArea       0
dtype: int64

Dapat dilihat di atas bahwa ada kolom "Price" yang memiliki nilai _null_. Hal tersebut ditandai sebagai "NaN" pada _DataFrame_ jika ditampilkan seperti di bawah.

In [338]:
# Menampilkan DataFrame df2
df2.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Chintin,24 Porcupine Ct,5,h,NaN,PN,LJ,1/04/2017,3756,Northern Victoria,39,44.2,Macedon Ranges Shire Council
1,Strathmore Heights,5 Avro Ct,3,h,900000.0,PI,Considine,1/04/2017,3041,Western Metropolitan,389,8.2,Moonee Valley City Council
2,Caulfield East,15 Grange Rd,3,h,1400000.0,S,Gary,1/04/2017,3145,Southern Metropolitan,608,8.4,Glen Eira City Council
3,Huntingdale,31 Berkeley St,3,h,1145000.0,S,Ray,1/04/2017,3166,Southern Metropolitan,768,12.3,Monash City Council
4,Essendon West,32 Garnet St,3,h,1430000.0,S,Nelson,1/04/2017,3040,Western Metropolitan,588,7.5,Moonee Valley City Council

Ada beberapa pendekatan untuk menangani _missing values_, berikut pendekatan yang umum digunakan: 
* Mengisi _missing values_ dengan nilai tertentu menggunakan _method_ <code>fillna()</code> 
* Menghapus (_drop_) baris atau kolom yang mengandung _missing values_. Gunakan <code>dropna()</code> untuk menghapus __baris__ yang mengandung _missing values_, dan <code>dropna(axis='columns')</code> untuk menghapus __kolom__ yang mengandung missing values.

Contoh-contoh di bawah akan berfokus pada kolom "Price".

In [339]:
# fillna() dengan nilai rata-rata
mean = df2.Price.mean() # mendapatkan nilai rata-rata Price
df2_fill_mean = df2.copy() 
df2_fill_mean.Price.fillna(mean,inplace=True)
df2_fill_mean.head(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Chintin,24 Porcupine Ct,5,h,1.032403e+06,PN,LJ,1/04/2017,3756,Northern Victoria,39,44.2,Macedon Ranges Shire Council
1,Strathmore Heights,5 Avro Ct,3,h,9.000000e+05,PI,Considine,1/04/2017,3041,Western Metropolitan,389,8.2,Moonee Valley City Council
2,Caulfield East,15 Grange Rd,3,h,1.400000e+06,S,Gary,1/04/2017,3145,Southern Metropolitan,608,8.4,Glen Eira City Council
3,Huntingdale,31 Berkeley St,3,h,1.145000e+06,S,Ray,1/04/2017,3166,Southern Metropolitan,768,12.3,Monash City Council
4,Essendon West,32 Garnet St,3,h,1.430000e+06,S,Nelson,1/04/2017,3040,Western Metropolitan,588,7.5,Moonee Valley City Council

In [340]:
# dropna untuk menghapus baris yang mengandung missing values
df2_drop_row = df2.dropna()
df2_drop_row.head(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
1,Strathmore Heights,5 Avro Ct,3,h,900000.0,PI,Considine,1/04/2017,3041,Western Metropolitan,389,8.2,Moonee Valley City Council
2,Caulfield East,15 Grange Rd,3,h,1400000.0,S,Gary,1/04/2017,3145,Southern Metropolitan,608,8.4,Glen Eira City Council
3,Huntingdale,31 Berkeley St,3,h,1145000.0,S,Ray,1/04/2017,3166,Southern Metropolitan,768,12.3,Monash City Council
4,Essendon West,32 Garnet St,3,h,1430000.0,S,Nelson,1/04/2017,3040,Western Metropolitan,588,7.5,Moonee Valley City Council
5,Strathmore Heights,2/1 De Havilland Av,2,h,635500.0,S,Considine,1/07/2017,3041,Western Metropolitan,389,8.2,Moonee Valley City Council

## Pertanyaan Pandas

Jawab setiap pertanyaan pada _cell_ di bawah _cell_ pertanyaan. Jawaban boleh lebih dari 1 _cell_ dan juga kombinasi antara _cell_ kode atau _markdwon_ jika memang diperlukan. Gunakan dataset <code>MELBOURNE\_HOUSE\_PRICES\_LITE.csv</code> yang dilampirkan di SCELE untuk mengerjakan soal-soal berikut.

In [341]:
# Imports
import pandas as pd

1. Buka dataset <code>MELBOURNE\_HOUSE\_PRICES\_LITE.csv</code> sebagai _DataFrame_ dan tampilkan __15 baris pertama__.

In [342]:
# Jawaban no. 1

# Membuka dataset MELBOURNE_HOUSE_PRICES_LITE.csv
df_house_pl = pd.read_csv('MELBOURNE_HOUSE_PRICES_LITE.csv')

# Menampilkan 15 baris pertama
df_house_pl.head(15)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Chintin,24 Porcupine Ct,5,h,NaN,PN,LJ,1/04/2017,3756,Northern Victoria,39,44.2,Macedon Ranges Shire Council
1,Strathmore Heights,5 Avro Ct,3,h,900000.0,PI,Considine,1/04/2017,3041,Western Metropolitan,389,8.2,Moonee Valley City Council
2,Caulfield East,15 Grange Rd,3,h,1400000.0,S,Gary,1/04/2017,3145,Southern Metropolitan,608,8.4,Glen Eira City Council
3,Huntingdale,31 Berkeley St,3,h,1145000.0,S,Ray,1/04/2017,3166,Southern Metropolitan,768,12.3,Monash City Council
4,Essendon West,32 Garnet St,3,h,1430000.0,S,Nelson,1/04/2017,3040,Western Metropolitan,588,7.5,Moonee Valley City Council
5,Strathmore Heights,2/1 De Havilland Av,2,h,635500.0,S,Considine,1/07/2017,3041,Western Metropolitan,389,8.2,Moonee Valley City Council
6,Essendon West,24 Clydebank Rd,4,h,NaN,SP,Barry,1/07/2017,3040,Western Metropolitan,588,7.5,Moonee Valley City Council
7,Essendon West,6 Bourke St,3,h,750000.0,VB,Brad,1/07/2017,3040,Western Metropolitan,588,7.5,Moonee Valley City Council
8,Huntingdale,9/220 Huntingdale Rd,3,h,750000.0,S,Ray,1/07/2017,3166,Southern Metropolitan,768,12.3,Monash City Council
9,Keilor Lodge,8 Turin Pl,4,h,640000.0,PI,Barry,1/07/2017,3038,Western Metropolitan,570,15.5,Brimbank City Council
10,Essendon West,36 Emerald St,5,h,2200000.0,VB,Nelson,1/07/2017,3040,Western Metropolitan,588,7.5,Moonee Valley City Council
11,Rockbank,2013 Western Hwy,2,h,340000.0,SP,YPA,1/07/2017,3335,Western Metropolitan,538,23.8,Melton City Council
12,Essendon West,4/25 Hampton Rd,2,u,460000.0,VB,Nelson,1/09/2018,3040,Western Metropolitan,588,7.5,Moonee Valley City Council
13,Essendon West,18A Emerald St,4,h,1450000.0,S,Frank,1/09/2018,3040,Western Metropolitan,588,7.5,Moonee Valley City Council
14,Essendon West,20 Prospect St,3,h,NaN,S,Brad,1/09/2018,3040,Western Metropolitan,588,7.5,Moonee Valley City Council

2. Tunjukkan __ada berapa__ _CouncilArea_ unik pada dataset tersebut. Kemudian _CouncilArea_ apa yang __paling banyak muncul__ dan __berapa banyak kemunculannya__?

In [343]:
# Jawaban no. 2
df_house_pl['CouncilArea'].describe()

count                            335
unique                            17
top       Moonee Valley City Council
freq                              84
Name: CouncilArea, dtype: object

**# Jawaban no. 2**

- Jumlah CouncilArea yang unik: 17
- CouncilArea yang paling banyak muncul: Moonee Valley City Council
- Frekuensi CouncilArea yang paling banyak muncul: 84

3. __Buat _DataFrame_ baru__ yang berisi hanya kolom _Regionname_, _Rooms_, dan _Price_ untuk 50 baris pertama. __Tampilkan _shape_ dan 5 baris pertama__ _DataFrame_ baru tersebut.

In [344]:
# Jawaban no. 3

# Menginisialisasi dataframe baru
new_df_house_pl = df_house_pl[['Regionname', 'Rooms', 'Price']]

# Menampilkan shape
print("Dimensi dari df adalah", new_df_house_pl.shape)
print("df terdiri atas {} baris dan {} kolom.".format(new_df_house_pl.shape[0], new_df_house_pl.shape[1]))

# Menampilkan 5 baris teratas
new_df_house_pl.head(5)

Dimensi dari df adalah (335, 3)
df terdiri atas 335 baris dan 3 kolom.

              Regionname  Rooms      Price
0      Northern Victoria      5        NaN
1   Western Metropolitan      3   900000.0
2  Southern Metropolitan      3  1400000.0
3  Southern Metropolitan      3  1145000.0
4   Western Metropolitan      3  1430000.0

4. __Tampilkan seluruh Regionname__ dari _DataFrame_ awal, __sebagai _Pandas Series___, yang memiliki _Propertycount_ __lebih besar atau sama dengan 400__.  (_Hint_: Silakan eksplorasi cara mengakses baris _DataFrame_ dengan kondisi _boolean_ menggunakan <code>loc</code>, <code>iloc</code>, atau cara lain.)

In [345]:
# Jawaban no. 4

# Melakukan filtering berdasarkan kolom Propertycount
df_house_pl_filtered = df_house_pl.loc[
    df_house_pl['Propertycount'] >= 400
]

# Mengakses kolom Regionname dari df yang sudah difilter sebagai Series
df_house_pl_regionname = df_house_pl_filtered['Regionname']

# Menampilkan seluruh Regionname
display(df_house_pl_regionname)

2           Southern Metropolitan
3           Southern Metropolitan
4            Western Metropolitan
6            Western Metropolitan
7            Western Metropolitan
                  ...
329    South-Eastern Metropolitan
330          Western Metropolitan
331         Southern Metropolitan
332         Southern Metropolitan
334          Western Metropolitan
Name: Regionname, Length: 250, dtype: object

5. Buat _DataFrame_ baru dari _DataFrame_ awal dengan __menghapus seluruh baris__ yang memiliki nilai _null_ . __Tampilkan rata-rata harga__ rumah pada _DataFrame_ baru tersebut.

In [346]:
# Jawaban no. 5

# Menampilkan statistik DataFrame awal
print("Rata-rata awal: %f" % df_house_pl['Price'].mean())

# Menginisialisasi DataFrame baru
new_df_house_pl = df_house_pl.copy(deep=True)

# Menghapus baris null pada DataFrame baru
new_df_house_pl = new_df_house_pl.dropna()

# Menampilkan statistik DataFrame baru
print("Rata-rata baru: %f" % new_df_house_pl['Price'].mean())

Rata-rata awal: 1032402.749035
Rata-rata baru: 1032402.749035

6. Buat _DataFrame_ baru dari _DataFrame_ awal dengan __mengisi seluruh nilai null__ pada kolom _Price_ dengan nilai minimum. __Tampilkan rata-rata harga__ rumah pada _DataFrame_ baru tersebut.

In [347]:
# Jawaban no. 6

# Menampilkan statistik DataFrame awal
print("Rata-rata awal: %f" % df_house_pl['Price'].mean())

# Mendapatkan nilai minimum pada kolom Price
min_price = df_house_pl['Price'].min()

# Menginisialisasi DataFrame baru dan mengisi nilai null dengan nilai minimum
new_df_house_pl_price = df_house_pl[['Price']].fillna(min_price)

# Menampilkan statistik DataFrame baru
print("Rata-rata baru: %f" % new_df_house_pl_price['Price'].mean())

Rata-rata awal: 1032402.749035
Rata-rata baru: 857171.080597

7. Apakah ada __perbedaan__ nilai rata-rata baru di nomor 5 dan 6? __Mengapa demikian?__

**# Jawaban no. 7**

Berdasarkan jawaban pada nomor 5 dan 6, terlihat bahwa rata-rata harga rumah pada nomor 5 adalah sebesar `1032402.749035`. Sedangkan, pada nomor 6, setelah dilakukan substitusi nilai `null` dengan nilai minimum, didapatkan rata-rata harga rumah sebesar `857171.080597`.

Dari penemuan di atas, dapat diambil beberapa kesimpulan:
- Nilai rata-rata pada nomor 5 (setelah menghapus semua row dengan nilai `null`) sama dengan rata-rata awal. Hal ini diakibatkan method `.mean()` milik pandas secara default memiliki parameter `skipna=True` dengan behavior yang sama dengan yang dilakukan pada nomor 5, yakni melewati seluruh row dengan attribute `null`.
- Nilai rata-rata pada nomor 6 lebih rendah dari nomor 5. Hal ini terjadi karena pada nomor 6, harga yang bernilai `null`â€”yang pada nomor 5 tidak masuk perhitunganâ€”disubstitusikan dengan nilai minimum. Tentu perlakuan ini akan berdampak pada berubahnya hasil perhitungan rata-rata.

Referensi:
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html

# **C. Pengenalan NumPy**

[NumPy](https://numpy.org/) (Numerical Python) adalah library Python yang berfokus pada <i>Scientific computing</i>. NumPy menyerupai List pada Python, hanya saja NumPy memiliki beberapa kelebihan seperti penggunaan memory yang lebih kecil, runtime yang lebih cepat, dan memudahkan kita melakukan operasi vektor dan matriks. Hal ini menyebabkan NumPy menjadi salah satu library yang banyak digunakan dalam proses analisis data.

In [348]:
# import library NumPy
import numpy as np

## Array NumPy

Untuk membuat sebuah array baru, kita dapat membuat python List kemudian diubah menjadi NumPy array menggunakan fungsi <code>array()</code> yang terdapat pada NumPy

In [349]:
# Membuat numpy array
arr = np.array([10,20,30,40,50])
arr

array([10, 20, 30, 40, 50])

Terdapat beberapa fungsi bawaan yang dapat digunakan untuk membuat array

In [350]:
# Membuat array dengan nilai 0 sebanyak 5
print("np.zeros(5) : ",np.zeros(5))

# Membuat array dengan nilai 1 sebanyak 5
print("np.ones(5) : ",np.ones(5))

# Membuat array dengan nilai dalam range 1 sampai 10 dengan step sebesar 2
print("np.arange(1,10,2) : ",np.arange(1,10,2))

# Membuat array dengan nilai dalam range 1 sampai 10 sebanyak 4 dengan interval yang sama
print("np.linspace(1,10,4) : ",np.linspace(1,10,4))

np.zeros(5) :  [0. 0. 0. 0. 0.]
np.ones(5) :  [1. 1. 1. 1. 1.]
np.arange(1,10,2) :  [1 3 5 7 9]
np.linspace(1,10,4) :  [ 1.  4.  7. 10.]

## Array Multidimensi

Selain array 1 dimensi, NumPy juga mempunyai kemampuan untuk membuat dan memanipulasi array multidimensi dengan mudah

In [351]:
# Membuat numpy array multidimensi / matrix
mult_arr = np.array([[1,2,3],[4,5,6],[10,20,30]])
mult_arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [10, 20, 30]])

## Menampilkan Atribut dari Array

Terdapat beberapa fungsi yang dapat digunakan untuk menampilkan atribut dari array

In [352]:
print(mult_arr)

print()

# Menunjukkan ukuran array
print("mult_arr.size:", mult_arr.size)

# Menunjukkan jumlah dimensi atau rank dari sebuah array
print("mult_arr.ndim:", mult_arr.ndim)

# Mengetahui ukuran dari setiap dimensi array 
print("mult_arr.shape:", mult_arr.shape)

[[ 1  2  3]
 [ 4  5  6]
 [10 20 30]]

mult_arr.size: 9
mult_arr.ndim: 2
mult_arr.shape: (3, 3)

## Cek Tipe

Kita dapat mengetahui tipe dari sebuah objek menggunakan fungsi <code>type()</code>

In [353]:
# Mengecek tipe list
py_lst = [1,2,3,4,5]
print("type(py_list): ")
display(type(py_lst))

print()

# Mengecek tipe dari array
print("type(mult_arr): ")
display(type(mult_arr))

type(py_list):

list

type(mult_arr):

numpy.ndarray

Untuk mengecek tipe data yang ada di dalam sebuah numpy array dapat menggunakan <code>dtype()</code>

In [354]:
# Mengecek tipe data dari array
mult_arr.dtype

dtype('int64')

## Indexing, Slicing, dan Assigning Value pada Array

In [355]:
arr

array([10, 20, 30, 40, 50])

Mengakses elemen pertama dari array

In [356]:
arr[0]

10

In [357]:
mult_arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [10, 20, 30]])

In [358]:
# Mengakses elemen baris kedua, kolom ketiga dari sebuah array multidimensi
display(mult_arr[1,2])

# Cara lain
display(mult_arr[1][2])

6

6

Kita dapat melakukan slicing pada numpy array seperti pada List

In [359]:
arr

array([10, 20, 30, 40, 50])

In [360]:
# Slice elemen index 1 sampai 3
b = arr[1:4]
b

array([20, 30, 40])

Kita juga dapat melakukan slicing pada array multidimensi

In [361]:
mult_arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [10, 20, 30]])

In [362]:
#Slice elemen dari baris pertama, kolom 1 serta 2
mult_arr[0][0:2]

array([1, 2])

In [363]:
# Slice kolom kedua
mult_arr[:,1]

array([ 2,  5, 20])

Kita dapat mengubah value dari sebuah array.

In [364]:
# Mengubah elemen kelima array a menjadi 500
arr[4] = 500
arr

array([ 10,  20,  30,  40, 500])

In [365]:
# Mengubah elemen baris pertama kolom pertama array multidimensi A menjadi 100
mult_arr[0][0] = 100
mult_arr

array([[100,   2,   3],
       [  4,   5,   6],
       [ 10,  20,  30]])

Kita dapat menggunakan sebuah list untuk memilih indeks secara spesifik

In [366]:
# Membuat list berisi indeks
lst = [0,3,4]

In [367]:
# Menggunakan list untuk memilih elemen
c = arr[lst]
c

array([ 10,  40, 500])

Selain itu, kita juga bisa meng-assign elemen pada indeks di list dengan value baru

In [368]:
# Assign value baru pada indeks di list
arr[lst] = 1234
arr

array([1234,   20,   30, 1234, 1234])

## Operasi pada Array

In [369]:
x = np.array([10, 15, 20, 25, 30])
y = np.array([30, 25, 20, 15, 10])

In [370]:
# Penjumlahan Array
print("Penjumlahan Array : ", x + y)

# Pengurangan Array
print("Pengurangan Array : ", x - y)

Penjumlahan Array :  [40 40 40 40 40]
Pengurangan Array :  [-20 -10   0  10  20]

In [371]:
# Penjumlahan Array dengan  bilangan konstan
print("Penjumlahan dengan sebuah bilangan : ", x + 3)

# Perkalian Array dengan bilangan konstan
print("Perkalian dengan sebuah bilangan : ", x * 2)

Penjumlahan dengan sebuah bilangan :  [13 18 23 28 33]
Perkalian dengan sebuah bilangan :  [20 30 40 50 60]

In [372]:
m = np.array([1,2])
n = np.array([0,1])

# Perkalian 2 buah array
print("Perkalian array m dan n : ", m * n)

# Dot product dari 2 buah array
print("Dot product m dan n : ", np.dot(m,n))

Perkalian array m dan n :  [0 2]
Dot product m dan n :  2

## Operasi pada Array Multidimensi / Matrix

Operasi pada array juga berlaku pada array multidimensi / matrix. Kita juga dapat mengetahui transpose dan inverse dari sebuah matrix melalui fungsi berikut

In [373]:
P = np.array([[1,2],[3,4]])

# Matrix P
print(P)

# Membuat matrix transpose dari matrix P
print("Transpose : ")
print(np.transpose(P))

# Membuat matrix invers dari matrix P
print("Invers : ")
print(np.linalg.inv(P))

[[1 2]
 [3 4]]
Transpose :
[[1 3]
 [2 4]]
Invers :
[[-2.   1. ]
 [ 1.5 -0.5]]

## Operasi Statistik pada Array

In [374]:
stat_arr = np.array([7, 7, 6, 6, 5, 7, 5, 9, 4, 2, 4, 2, 7, 7, 7, 3, 4, 4, 8, 7, 8, 6,
       4, 1, 1])
stat_arr

array([7, 7, 6, 6, 5, 7, 5, 9, 4, 2, 4, 2, 7, 7, 7, 3, 4, 4, 8, 7, 8, 6,
       4, 1, 1])

In [375]:
# Nilai rata-rata dari sebuah array
print("Nilai rata-rata : ", np.mean(stat_arr))

# Nilai maksimal dari sebuah array
print("Nilai maks : ", np.max(stat_arr))

# Nilai unik dari sebuah array
print("Nilai unik : ", np.unique(stat_arr))

#Sort nilai pada array
print("Sorted : ", np.sort(stat_arr))

Nilai rata-rata :  5.24
Nilai maks :  9
Nilai unik :  [1 2 3 4 5 6 7 8 9]
Sorted :  [1 1 2 2 3 4 4 4 4 4 5 5 6 6 6 7 7 7 7 7 7 7 8 8 9]

## Pertanyaan NumPy

Jawab setiap pertanyaan pada _cell_ di bawah _cell_ pertanyaan. Jawaban boleh lebih dari 1 _cell_ dan juga kombinasi antara _cell_ kode atau _markdown_ jika memang diperlukan.

In [376]:
arr_1 = np.array([1,2,3.5,4,5,6,7,8])
arr_1.dtype

dtype('float64')

1. Jalankan _cell_ di atas! Mengapa tipe data yang didapatkan dari <code>arr_1.dtype</code> bertipe float padahal ada elemen yang bertipe integer juga? Jelaskan secara singkat!

**# Jawaban no. 1**

Mengacu kepada dokumentasi numpy array, apabila tidak ada parameter dtype yang dimasukkan, maka tipe data akan menyesuaikan berdasarkan *minimum type* yang bisa mengakomodir data yang ada di dalam array-like object yang dimasukkan.

Dalam kasus ini, minimum type dari integer adalah float, sehingga secara otomatis numpy menentukan tipe data array sebagai float.

Referensi:
- https://numpy.org/doc/stable/reference/generated/numpy.array.html
- https://stackoverflow.com/questions/51607607/why-do-numpy-array-turns-int-into-float

<hr>

In [377]:
V = np.array([[2,3,2],[1,2,1],[3,2,1]])
W = np.array([[1,1,2],[2,3,1],[2,2,2]])

2. Terdapat matrix V dan W seperti pada _cell_ di atas, lakukan operasi perkalian matrix V dan W! Kemudian buatlah sebuah matrix baru yang isinya akar dari setiap elemen dari hasil perkalian matrix tersebut! Tampilkan matrix transpose dari matrix akar tersebut! (Hint : Anda dapat menggunakan fungsi <code>sqrt</code> dari NumPy)

In [378]:
# Menampilkan hasil perkalian
mult = V * W
print("\nHasil multiplikasi V * W: ")
print(mult)

# Menampilkan hasil akar pada setiap elemen mult
sqrt = np.sqrt(mult)
print("\nHasil pengakaran setiap elemen matriks mult: ")
print(sqrt)

# Menampilkan transpose dari sqrt
trps = np.transpose(sqrt)
print("\nHasil transpose matriks sqrt: ")
print(trps)

Hasil multiplikasi V * W:
[[2 3 4]
 [2 6 1]
 [6 4 2]]

Hasil pengakaran setiap elemen matriks mult:
[[1.41421356 1.73205081 2.        ]
 [1.41421356 2.44948974 1.        ]
 [2.44948974 2.         1.41421356]]

Hasil transpose matriks sqrt:
[[1.41421356 1.41421356 2.44948974]
 [1.73205081 2.44948974 2.        ]
 [2.         1.         1.41421356]]

<hr>

In [379]:
arr_3 = np.array([50, 20, 10, 10, 12, 60, 105,  2, 55, 80, 88, 16, 78, 13, 34, 34, 20,
        9, 51, 88, 19, 13,  3, 51, 45, 76, 41, 23, 34, 36, 55,  8, 55,  3,
        8,  2, 47, 27, 66,  3, 45, 96, 69, 21, 37, 32, 41, 43, 60, 53])

3. Terdapat array seperti _cell_ di atas, cari dan tampilkan rata-rata, nilai maksimum, minimum, median, standar deviasi, variance, dan ukuran dari array tersebut!

In [380]:
# Jawaban no. 3

# Menampilkan average dari arr_3
print("Nilai average : ", np.mean(arr_3))

# Menampilkan maximum value dari arr_3
print("Nilai maximum : ", np.max(arr_3))

# Menampilkan minimum value dari arr_3
print("Nilai minimum : ", np.min(arr_3))

# Menampilkan median value dari arr_3
print("Nilai median : ", np.median(arr_3))

# Menampilkan standar deviasi dari arr_3
print("Nilai standar deviasi : ", np.std(arr_3))

# Menampilkan variance dari arr_3
print("Nilai variance : ", np.var(arr_3))

# Menampilkan ukuran dari arr_3
print("Ukuran array : ", np.size(arr_3))

Nilai average :  38.94
Nilai maximum :  105
Nilai minimum :  2
Nilai median :  36.5
Nilai standar deviasi :  27.10897268433461
Nilai variance :  734.8964
Ukuran array :  50

# **D. Pengenalan Scikit-learn**

[Scikit-learn](https://scikit-learn.org/) atau **sklearn** merupakan _library_ Python yang digunakan untuk _machine learning_. *Library* ini menyediakan beragam modul yang mendukung *supervised* dan *unsupervised learning* (kita akan memepelajari hal ini nanti). Beberapa modul yang disediakan berguna untuk data preprocessing, model fitting, model selection dan model evaluation.

## Load Dataset

Modul [datasets](https://scikit-learn.org/stable/datasets.html#datasets) dari sklearn menyediakan sejumlah *toy dataset*  yang dapat digunakan untuk mempelajari _machine learning_. Dataset dapat diakses dengan fungsi <code>load_[nama dataset] ()</code>, outputnya berupa dictionary scikit-learn yang berisi komponen-komponen dari dataset tersebut.

In [381]:
# Mengakses dataset "diabetes" dari modul sklearn.datasets
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()
print(diabetes.keys()) # Melihat komponen yang dimiliki oleh dataset

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

Kita dapat mengakses salah satu komponen layaknya mengakses dictionary

In [382]:
# Mengakses komponen DESCR untuk melihat deskripsi dari dataset
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

Untuk menggunakan dataset tersebut, kita dapat membuat dataframe dari komponen-komponen pada dictionary

In [383]:
# Membuat dataframe dari komponen dataset
import pandas as pd

df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target
df.head() # melihat 5 baris pertama

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

## Cosine Similarity

Salah satu fungsi dari modul <code>metrics</code> adalah untuk menghitung cosine similarity

In [384]:
# Menghitung cosine similarity dari 2 vektor
from sklearn.metrics.pairwise import cosine_similarity # import fungsi sklearn yang dibutuhkan
import numpy as np

vec_1 = np.array([[15,31,10,9,28]])
vec_2 = np.array([[35,21,6,7,12]])
print(cosine_similarity(vec_1, vec_2))

[[0.80982829]]

## Beberapa Modul Scikit-learn Lainnya

Kita akan banyak menggunakan modul scikit-learn saat membuat model _machine learning_. Berikut beberapa modul yang umum digunakan:

| Nama Modul | Kegunaan | 
| ----------- | --------- | 
| sklearn.cluster | menerapkan algoritma clustering | 
| sklearn.covariance | memperkirakan covariance fitur | 
| sklearn.datasets | memuat dataset populer yang disediakan oleh scikit-learn | 
| sklearn.decomposition | menerapkan algoritma dekomposisi matriks seperti PCA |
| sklearn.ensemble | menerapkan beberapa algoritma untuk klasifikasi dan regresi |
| sklearn.feature_extraction | mengekstrak fitur dari raw data |
| sklearn.feature_selection | menerapkan algoritma seleksi fitur |
| sklearn.linear_model | menerapkan beberapa macam model linear |
| sklearn.metrics | menghitung performa model dengan berbagai macam metric |
| sklearn.model_selection | menerapkan cross-validation |
| sklearn.naive_bayes | menerapkan algoritma Naive Bayes untuk klasifikasi |
| sklearn.neighbors | menerapkan algo KNN |
| sklearn.pipeline | menerapkan beberapa langkah pembuatan model di dalam satu pipeline |
| sklearn.preprocessing | melakukan label-encoding, scaling, normalisasi, dan beberapa preprocessing lainnya | 
| sklearn.svm | menerapkan algo Support Vector Machine |
| sklearn.tree | menerapkan algo Decision Tree |


Selengkapnya dapat dilihat pada [dokumentasi modul scikit-learn](https://scikit-learn.org/stable/modules/classes.html). Pembahasan mengenai scikit-learn akan lebih lanjut dijelaskan pada sesi tutorial pada minggu kelima perkuliahan KASDD.

## Pertanyaan Scikit-learn

Jawab pertanyaan pada _cell_ di bawah _cell_ pertanyaan. Jawaban boleh lebih dari 1 _cell_ dan juga kombinasi antara _cell_ kode atau _markdown_ jika memang diperlukan.

In [385]:
X = [[1, 2], [2, 1]]
Y = [[0, 2], [4, 3]]

1. Terdapat 2 matrix, X dan Y, seperti di atas. Hitunglah jarak euclidian dan jarak manhattan pada kedua matrix tersebut menggunakan modul dari scikit-learn!

In [386]:
# Jawaban no. 1

# Mengimport fungsi yang diperlukan
from sklearn.metrics.pairwise import euclidean_distances, manhattan_distances

# Menghitung euclidean distance dari X dan Y
print("Euclidean Distances dari X dan Y : \n", euclidean_distances(X, Y), "\n")

# Menghitung manhattan distance dari X dan Y
print("Manhattan Distances dari X dan Y : \n", manhattan_distances(X, Y))

Euclidean Distances dari X dan Y :
 [[1.         3.16227766]
 [2.23606798 2.82842712]]

Manhattan Distances dari X dan Y :
 [[1. 4.]
 [3. 4.]]